<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PKI Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Overview
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="certificates">
                <span class="bi bi-shield-lock" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deployments">
                <span class="bi bi-rocket-takeoff" aria-hidden="true"></span> Deployments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agents">
                <span class="bi bi-cpu" aria-hidden="true"></span> Agents
            </NavLink>
        </div>
    </nav>
</div>

